# Environment variables
.env

# Dependencies
node_modules/

# Firebase service account
firebase-service-account.json

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 
